.content-container {
    margin: 10px;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    overflow-y: scroll;
    border-radius: 10px;
}

.dashTit{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    font-family: cursive;
    color: var(--basicTextColor);
}