@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&family=Manrope:wght@400;500&family=Poppins&display=swap');

.frm{
    margin-left: 10px;
    margin-top: 10px;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    overflow-y: scroll;
    border-radius: 10px;
}

.selectedFileName{
    color: var(--secondaryBlue);
    display: flex;
    overflow-x: hidden;
    flex-wrap: nowrap;
}

.nptelTitle{
    font-weight: bolder;
    font-size: 16px;
    padding: 30px;
}
/* .nptelTextFields{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */
.quesField{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
    gap: 5%;
}
.titdefault{
    margin: 15px;
    color: var(--primaryBlue);
    letter-spacing: 1px;
}
.Default{
    margin: 10px;
    background-color: var(--background);
    border: 1px solid var(--Bordercolor);
    border-radius: 10px;
    padding: 20px;
    width: 80%;
}
.dfinside{
    width: 93%;
    margin-left: 20px;
    margin-top: 10px;
}
.quesDoc{
    display: flex;
    flex-direction: row;
    /* gap: 48px; */
    gap: 9%;
    margin-bottom: 20px;
}
.quesDocRp{
    display: flex;
    flex-direction: row;
    /* gap: 48px; */
    gap: 9%;
    margin-bottom: 20px;
}
.inp{
    display: flex;
    justify-content: center;
    align-items: center;
}
.textField{
    width: 46vw;
}
.textFieldMultiForm{
    width: 30vw;
}

.numberStudentForm{
    width: 28.5vw;
}
.textStudentForm{
    width: 28.5vw;

}
.errorText{
    color: rgb(236, 119, 119);
    font-size: 12px;
}

.exception{
    margin-bottom: 20px;
    font-weight: bold;
}
.Rewards{
    margin-bottom: 20px;
    font-weight: bold;
}
.pdf-upload-button{
    padding: 5px 15px;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px dashed var(--navIconDefault);
    border-spacing: 10px;
    color: var(--basicTextColor);
    margin-left: 20px;
    display: flex;
    text-align: center;
    align-items: center;
}
.pdf-upload-button:hover{
    border: 1px solid var(--secondaryBlue);
    color: var(--secondaryBlue);
}
#pdf-upload::file-selector-button{
    padding: 5px 15px;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px dashed var(--navIconDefault);
    border-spacing: 10px;
    color: var(--basicTextColor);
    margin-right: 10px;
}
#pdf-upload::-webkit-file-name-text{
    color: green;
}
.EXPsubmits{
    display: flex;
    flex-direction: row-reverse;
    gap: 20px;
}
.RPsubmits{
    display: flex;
    flex-direction: row-reverse;
    gap: 20px;
}
.expCancelBtn{
    background-color: rgb(250, 41, 41);
    color: white;
    font-size: 15px;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid  rgb(250, 41, 41);
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}
.expCreateBtn{
    background-color:  var(--secondaryBlue);
    color: white;
    font-size: 15px;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid var(--secondaryBlue);
    font-family: 'Poppins', sans-serif;
}

.ReasonBtn{
    padding: 2px;
    background-color: rgb(236, 79, 79);
    color: white;
    border: none;
    cursor: pointer;
    margin-left: 10px;
    font-family: 'Poppins', sans-serif;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 3px;
}
.reasonModal{
    font-family: 'Poppins', sans-serif;
    font-size: medium;
}

.restrictReason{
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
    color:  rgb(250, 41, 41);
    gap: 10px;
}

.Rp-btn-and-selected-file{
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 46vw;
}  
.Rp-btn-and-selected-file-specialCourse{
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 30vw;
}  
.stepperDivInMultiForm{
    margin-top: 30px;
    margin-bottom: 30px;
}
.MultiFormButtonDiv{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    transition: all 2s ease;
}
.MultiFormNextButton{
    background-color:  var(--secondaryBlue);
    color: white;
    font-size: 15px;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid var(--secondaryBlue);
    font-family: 'Poppins', sans-serif;
}
.MultiFormBackBUtton{
    border: none;
    padding: 3px 10px 3px 10px;
    background-color: white;
    transition: all 2s ease;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    text-decoration: underline;
}
.multiStepFormContent{
    transition: all 2s ease;
}

@media (max-width: 1300px){
    .quesField{
        display: flex;
        flex-direction: column;
    }
    .inp{
        display: flex;
        justify-content: flex-start;
    }
}

@media (max-width: 800px) {
    .textField{
        width: 65vw;
    }
    .textStudentForm{
        width: 35.5vw;
    }
    .quesField{
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        gap: 5%;
    }
    .inp{
        display: flex;
        justify-content: flex-start;
        margin-bottom: 3px;
    }
    .quesDoc{
        display: flex;
        flex-direction: column;
        /* gap: 48px; */
        gap: 9%;
        margin-bottom: 20px;
    }
    .quesDocRp{
        display: flex;
        flex-direction: column;
        /* gap: 48px; */
        gap: 8px;
        margin-bottom: 20px;
    }
    .Rp-btn-and-selected-file{
        display: flex;
        flex-direction: row;
        gap: 10px;
        width: 90vw;
    }   
    .Rp-btn-and-selected-file-specialCourse{
        display: flex;
        flex-direction: row;
        gap: 10px;
        width: 90vw;
    }  
    .expCreateBtn{
        font-size: small;
    }
    .pdf-upload-button{
        margin-left: 0;
    }
}